/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-h6yof0megn] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-h6yof0megn] {
    flex: 1;
}

.sidebar[b-h6yof0megn] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-h6yof0megn] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-h6yof0megn]  a,
.top-row[b-h6yof0megn]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-h6yof0megn]  a:hover,
.top-row[b-h6yof0megn]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-h6yof0megn]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row[b-h6yof0megn] {
        justify-content: space-between;
    }

    .top-row[b-h6yof0megn]  a,
    .top-row[b-h6yof0megn]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-h6yof0megn] {
        flex-direction: row;
    }

    .sidebar[b-h6yof0megn] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-h6yof0megn] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-h6yof0megn]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-h6yof0megn],
    article[b-h6yof0megn] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-27ic0btdn8] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-27ic0btdn8] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-27ic0btdn8] {
    font-size: 1.1rem;
}

.bi[b-27ic0btdn8] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}


.bi-list-nested-nav-menu[b-27ic0btdn8] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-27ic0btdn8] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-27ic0btdn8] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-27ic0btdn8] {
    padding-bottom: 1rem;
}

.nav-item[b-27ic0btdn8]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-27ic0btdn8]  a.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.nav-item[b-27ic0btdn8]  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-27ic0btdn8] {
        display: none;
    }

    .collapse[b-27ic0btdn8] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-27ic0btdn8] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Upload.razor.rz.scp.css */
.file-drop-zone[b-e9c3qu2r5o] {
    flex: 1;
    width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.hover[b-e9c3qu2r5o] {
    border-style: solid;
    background: rgba(0 255 0 20%);
}

.header[b-e9c3qu2r5o] {
    width: 100%;
    display: flex;
}

.key[b-e9c3qu2r5o] {
    margin: auto 0;
    padding: 0 20px;
    width: 303px;
    text-align: left;
    color: #888 
}

.key-item[b-e9c3qu2r5o] {
    display: flex;
    justify-content: right;
}

.color-display[b-e9c3qu2r5o] {
    width: 17px;
    height: 17px;
    border-radius: 4px;
}

.color-label[b-e9c3qu2r5o] {
    font-size: 13px;
    margin-right: 10px;
}

.raw-bytes-view[b-e9c3qu2r5o] {
    display: flex;
}

.raw-bytes-view-control[b-e9c3qu2r5o] {
    display: flex;
    margin-bottom: 6px;
}

.bytes-counts-control[b-e9c3qu2r5o] {
    width: 65px;
}

.text-bytes-view-control[b-e9c3qu2r5o],
.hex-bytes-view-control[b-e9c3qu2r5o] {
    display: flex;
    margin-left: 10px;
    flex: 1;
}

.bytes-map-control[b-e9c3qu2r5o] {
    width: 303px;
}

.control-btn[b-e9c3qu2r5o] {
    margin: 0 5px;
    border-radius: 4px;
    background: black;
    color: rgb(0 255 0);
    padding: 1px 8px;
    font-size: 11px;
    border: none;
}
.text-search[b-e9c3qu2r5o] {
    background: black;
    height: 20px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 11px;
    padding: 0 8px;
    flex-grow: 1;
}


.control-btn:hover[b-e9c3qu2r5o] {
    background: rgb(0 255 0);
    color: black;
}

.bytes-view[b-e9c3qu2r5o] {
    display: flex;
    background: black;
    color: rgb(0 255 0);
    border-radius: 4px;
    padding: 8px 10px;
    flex: 1;
}

.active-btn[b-e9c3qu2r5o] {
    background: rgb(0 255 0);
    color: black !important;
}

.byte-counts[b-e9c3qu2r5o] {
    font-size: 12px;
    margin-right: 5px;
    color: rgb(218, 226, 72);
    display: grid;
    place-items: center;
    height: fit-content;
}

.byte-count[b-e9c3qu2r5o] {
    height: 17px;
}

.hex-bytes-view[b-e9c3qu2r5o] {
    height: fit-content;
}

.text-bytes-view[b-e9c3qu2r5o] {
    color: #e8e8e8;
    height: fit-content;
}

.text-bytes-view[b-e9c3qu2r5o],
.hex-bytes-view[b-e9c3qu2r5o] {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    place-items: center;
    flex: 1;
}

.hex-bytes-view[b-e9c3qu2r5o],
.text-bytes-view[b-e9c3qu2r5o] {
    flex: 1;
    font-size: 12px;
}

.text-byte[b-e9c3qu2r5o],
.hex-byte[b-e9c3qu2r5o] {
    padding: 0 2px;
    width: 100%;
    text-align: center;
    height: 17px;
}

.text-byte[b-e9c3qu2r5o],
.hex-byte[b-e9c3qu2r5o],
.byte-map-cell[b-e9c3qu2r5o] {
    transition: 0.05s;
}

.active[b-e9c3qu2r5o],
.byte-map-cell:hover[b-e9c3qu2r5o],
.text-byte:hover[b-e9c3qu2r5o],
.hex-byte:hover[b-e9c3qu2r5o] {
    background: rgb(0 255 0);
}

.highlight[b-e9c3qu2r5o],
.highlight-start[b-e9c3qu2r5o],
.highlight-end[b-e9c3qu2r5o] {
    background: rgb(255, 255, 0) !important;
}

.active[b-e9c3qu2r5o],
.byte-map-cell:hover[b-e9c3qu2r5o],
.text-byte:hover[b-e9c3qu2r5o],
.hex-byte:hover[b-e9c3qu2r5o],
.highlight[b-e9c3qu2r5o],
.highlight-start[b-e9c3qu2r5o],
.highlight-end[b-e9c3qu2r5o] {
    color: black;
    opacity: 100% !important;
}

.hex-byte.active[b-e9c3qu2r5o],
.text-byte.active[b-e9c3qu2r5o],
.text-byte:hover[b-e9c3qu2r5o],
.hex-byte:hover[b-e9c3qu2r5o] {
    border-radius: 3px;
}

.text-byte.highlight[b-e9c3qu2r5o] {
    border-radius: 0;
}
.highlight[b-e9c3qu2r5o] {
    border-radius: 0;
}   
.highlight-start[b-e9c3qu2r5o] {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.highlight-end[b-e9c3qu2r5o] {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.page-numbers[b-e9c3qu2r5o] {
    display: flex;
    font-size: 0.8em;
    margin: 0.8em 1em 2em;
    flex-flow: wrap;
}

.page-number[b-e9c3qu2r5o] {
    color: #3f3f3f;
    margin: 0 3px;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.page-number:hover[b-e9c3qu2r5o] {
    color: white;
}

.active-page[b-e9c3qu2r5o] {
    color: rgb(0 255 0);
    margin: 0 3px;
}

.bytes-map[b-e9c3qu2r5o] {
    display: grid;
    grid-template-columns: repeat(16, 17px);
    height: max-content;
    margin-left: 15px;
    padding: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.byte-map-cell[b-e9c3qu2r5o] {
    width: 17px;
    height: 17px;
}

.byte-map-cell-first[b-e9c3qu2r5o] {
    border-top-left-radius: 4px;
}
.byte-map-cell-top-right[b-e9c3qu2r5o] {
    border-top-right-radius: 4px;
}
.byte-map-cell-bottom-left[b-e9c3qu2r5o] {
    border-bottom-left-radius: 4px;
}
.byte-map-cell-bottom-right[b-e9c3qu2r5o] {
    border-bottom-right-radius: 4px;
}

.file-drop-zone[b-e9c3qu2r5o],
.bytes-map[b-e9c3qu2r5o],
.zero[b-e9c3qu2r5o] {
    background: black;
}

.low[b-e9c3qu2r5o] {
    background: rgb(45, 166, 45);
}

.ascii[b-e9c3qu2r5o] {
    background: blue;
}

.high[b-e9c3qu2r5o] {
    background: red;
}

.max[b-e9c3qu2r5o] {
    background: white;
}

.image-container img[b-e9c3qu2r5o] {
    width: 100%;
}

[b-e9c3qu2r5o] input[type=file] {
    width: 100%;
    padding: 20px;
}

.error-message-container[b-e9c3qu2r5o] {
    color: red;
    text-align: center;
}
