.file-drop-zone {
    flex: 1;
    width: 100%;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    min-height: 100px;
    background: #f9f9f9;
}

.hover {
    border-style: solid;
    background-color: rgb(185, 185, 185);
}
.header {
    width: 100%;
    display: flex;
}
.key {
    margin: auto 0;
    padding: 0 20px;
    width: 287px;
    text-align: left;
}
.key-item {
    display: flex;
}
.color-display {
    width: 17px;
    height: 17px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 4px;
}
.color-label {
    font-size: 13px;
    margin-left: 10px;
}

.raw-bytes-view {
    display: flex;
    margin-bottom: 20px;
}

.bytes-view {
    display: flex;
    background: black;
    color: rgb(0 255 0);
    border-radius: 4px;
    padding: 8px 10px;
    flex: 1;
}

.byte-counts {
    font-size: 12px;
    margin-right: 5px;
    color: rgb(218, 226, 72);
    display: grid;
    place-items: center;
    height: fit-content;
}
.byte-count {
    height: 17px;
}
.hex-bytes-view {
    height: fit-content;
}
.text-bytes-view {
    color: #e8e8e8;
}
.text-bytes-view,
.hex-bytes-view {
    display: grid;
    grid-template-columns: repeat(16, 1fr); 
    place-items: center;
    flex: 1;
}

.hex-bytes-view,
.text-bytes-view {
    flex: 1;
    font-size: 12px;
}

.text-byte,
.hex-byte {
    padding: 0 2px;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    height: 17px;
}

.active,
.text-byte:hover,
.hex-byte:hover {
    background-color: rgb(0 255 0) !important;
    color: black;
    opacity: 100% !important;
}


.bytes-map {
    display: grid;
    grid-template-columns: repeat(16, 17px);
    height: max-content;
    margin: 8px 0 8px 15px;
    border-radius: 4px;
    overflow: hidden;
}
.byte-map-cell {
    width: 17px;
    height: 17px;
}
.zero {
    background-color: black;
}
.low {
    background-color: rgb(45, 166, 45);
}
.ascii {
    background-color: blue;
}
.high {
    background-color: red;
}
.max {
    background-color: white;
}

.image-container img {
    width: 100%;
}

::deep input[type=file] {
    width: 100%;
    padding: 20px;
}

.error-message-container {
    color: red;
    text-align: center;
}