.file-drop-zone {
    width: 100%;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    min-height: 100px;
}

.hover {
    border-style: solid;
    background-color: rgb(185, 185, 185);
}

.bytes-view {
    display: flex;
    background: black;
    color: rgb(0 255 0);
    border-radius: 4px;
    padding: 5px 8px;
}

.hex-bytes-view {
    /* border-right: 1px solid rgb(205, 205, 205); */
    /* padding-right: 5px; */
}
.text-bytes-view {
    padding-left: 10px;
    letter-spacing: 1em;
    max-width: 128ch;
    word-wrap: break-word;
}
.hex-bytes-view {
    display: grid;  
    grid-template-columns: repeat(64, 1fr); 
    place-items: center;
}

.hex-bytes-view,
.text-bytes-view {
    flex: 1;
    font-size: 0.7em;
    cursor: text;
}

.image-container img {
    width: 100%;
}

::deep input[type=file] {
    width: 100%;
    padding: 20px;
}

.error-message-container {
    color: red;
    text-align: center;
}