@page "/"

@inject IJSRuntime JSRuntime;
@implements IAsyncDisposable

<h3>Visual Binary Analysis</h3>

<div @ref="fileDropContainer" class="file-drop-zone @HoverClass" @ondragenter="OnDragEnter" @ondragleave="OnDragLeave" @ondragover="OnDragEnter">
    <InputFile OnChange="@OnChange" @ref="inputFile" multiple />
</div>
<div class="error-message-container">
    <p>@ErrorMessage</p>
</div>
@if (fileHex != null)
{
    <div class="bytes-view">
        <div class="hex-bytes-view">
            @foreach (var h in fileHex)
            {
                <span style="opacity: @GetOpacity(h)">
                    @h
                </span>
            }
        </div>
    </div>
}
